/* .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #E1E5F2;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.card a {
    color: #1F7A8C;
} */
